[submodule "ps/themes/codex"]
	path = ps/themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "ps/themes/hugo-whisper-theme"]
	path = ps/themes/hugo-whisper-theme
	url = https://github.com/jugglerx/hugo-whisper-theme.git
