{{ define "links" }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500"> 
{{ end }}

{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}
<br><br><br>
<div class="splash-container">
  <div class="splash">
    <h1><img width="38" height="38" src="./images/logo.png">  {{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    <p>
        {{ .Content }}
    <p>
    <p>
      Ambitious solutions are build with collaboration.
      <a href="mailto:team@phantomstack.com" target="blank">
        Let's connect</a>
      </p>
    {{ partial "social-icons.html" .}}
    
  </div>
</div>

{{ end }}